.whishlist{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.whishlist-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: 450px;
    width: 350px;
    margin: 20px;
}



.wishlist-image{
    height: 180px;
    width: 180px;
}


.whishlist-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}